@using OnlineShop.Models;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Products>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<!--Slide part-->
<section>
    <div class="carousel_section bg-dark">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
                <li data-slide-to="1" data-target="#myCarousel"></li>
                <li data-slide-to="2" data-target="#myCarousel"></li>
                <li data-slide-to="3" data-target="#myCarousel"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-img-1 active">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <div class="row">
                                <div class="col-md-7 pt-5">
                                    <h1 class="display-3 w3-animate-left pt-2">Brand New</h1>
                                    <h4 class="w3-animate-top pt-2">Transforming Bangladesh into digital</h4>
                                    <a href="#" class="btn btn-danger w3-animate-right mt-2">Click For Details</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="~/images/image2.png" class="img-fluid" alt="image" />
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-img-2">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <div class="row">
                                <div class="col-md-7 pt-5">
                                    <h1 class="display-3 w3-animate-left pt-2">Brand New</h1>
                                    <h4 class="w3-animate-top pt-2">Transforming Bangladesh into digital</h4>
                                    <a href="#" class="btn btn-danger w3-animate-right mt-2">Click For Details</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="~/images/image2.png" class="img-fluid" alt="image" />
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-img-3">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <div class="row">
                                <div class="col-md-7 pt-5">
                                    <h1 class="display-3 w3-animate-left pt-2">Brand New</h1>
                                    <h4 class="w3-animate-top pt-2">Transforming Bangladesh into digital</h4>
                                    <a href="#" class="btn btn-danger w3-animate-right mt-2">Click For Details</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="~/images/image2.png" class="img-fluid" alt="image" />
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="carousel-item carousel-img-4">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <div class="row">
                                <div class="col-md-7 pt-5">
                                    <h1 class="display-3 w3-animate-left pt-2">Brand New</h1>
                                    <h4 class="w3-animate-top pt-2">Transforming Bangladesh into digital</h4>
                                    <a href="#" class="btn btn-danger w3-animate-right mt-2">Click For Details</a>
                                </div>
                                <div class="col-md-5">
                                    <img src="~/images/image2.png" class="img-fluid" alt="image" />
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
        <a href="#myCarousel" class="carousel-control-next" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
</section>
<br />
<!--Main Part-->
<section>
    <div class="container bg-white shadow">
        <div class="row">
            <div class="col-md-3 container bg-white shadow">
                <div class="sidebar">
                    <h3 class="text-center pt-1">All Categories</h3>
                    <hr class="mb-0" />
                    @*<a href="#home">Electronics</a>*@
                    @*<div class="dropdown">
                        <button class="dropbtn">Electronics <i class="fas fa-chevron-down"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Laptop</a>
                            <a href="#">Mobile</a>
                            <a href="#">Television</a>
                        </div>
                    </div>*@
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Electronics
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Laptop</a>
                            <a class="dropdown-item" href="#">Mobile</a>                           
                            <a class="dropdown-item" href="#">Television</a>
                        </div>
                    </div>
                    <a href="#news">Home & Living</a>
                    <a href="#contact">Books</a>
                    <a href="#about">Stationeries</a>
                    <a href="#contact">Furniture</a>
                    <a href="#contact">Men's Fashion</a>
                    <a href="#contact">Women's Fashion</a>
                    <a href="#contact">Home Appliances</a>
                    <a href="#contact">Health</a>
                    <a href="#contact">Beauty</a>
                    <a href="#contact">Fitness</a>
                    <a href="#contact">Kides & Babies</a>
                    <a href="#contact">Others</a>
                </div>
            </div>
            <div class="col-md-9 container">
                <h2 class="text-primary">Popular Product</h2>
                <hr />
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-4">
                            <div class="product-top">
                                <img src="~/@product.Image" style="width:100%;height:220px;" />
                                <div class="overlay-right">
                                    <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-secondary pull-right btn-primary" title="View Details">
                                        <i class="fas fa-info-circle" style="font-size:30px;"></i>
                                    </a>
                                    <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                                    <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                                    <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                                </div>
                            </div>
                            <div class="product-bottom text-center">
                                <i class="fa fa-star" style="color:orange;"></i>
                                <i class="fa fa-star" style="color:orange;"></i>
                                <i class="fa fa-star" style="color:orange;"></i>
                                <i class="fa fa-star" style="color:orange;"></i>
                                <i class="fa fa-star-half" style="color:orange;"></i>
                                <h3>@product.Name</h3>
                                <h5>@product.Price</h5>
                            </div>
                        </div>
                    }
                </div>
                <div class="align-content-center pagination">
                    @Html.PagedListPager(Model, c => Href("~/Customer/Home/Index?page=" + c))
                </div>
            </div>
        </div>
    </div>   
</section>
<br />
<!--Flash Sale-->
<section>
    <div class="container bg-white shadow pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div><h3>Flash Sale</h3></div>           
            <div><a href="#" id="viewall">View All</a></div>
        </div>               
        <hr />
        <div class="arrow_prev2">
            <span><i class="fas fa-angle-left"></i></span>
        </div>
        <div class="arrow_next2">
            <span><i class="fas fa-angle-right"></i></span>
        </div>
        <div class="row d-flex justify-content-center align-items-center post-wrapper2">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--best seller-->
<section>
    <div class="container bg-white shadow pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div><h3>Flash Sale</h3></div>
            <div><a href="#" id="viewall">View All</a></div>
        </div>
        <hr />
        <div class="arrow_prev2">
            <span><i class="fas fa-angle-left"></i></span>
        </div>
        <div class="arrow_next2">
            <span><i class="fas fa-angle-right"></i></span>
        </div>
        <div class="row d-flex justify-content-center align-items-center post-wrapper2">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--offer-->
<section>
    <div class="container bg-white shadow pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div><h3>Flash Sale</h3></div>
            <div><a href="#" id="viewall">View All</a></div>
        </div>
        <hr />
        <div class="arrow_prev2">
            <span><i class="fas fa-angle-left"></i></span>
        </div>
        <div class="arrow_next2">
            <span><i class="fas fa-angle-right"></i></span>
        </div>
        <div class="row d-flex justify-content-center align-items-center post-wrapper2">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--Home Icon-->
<section>
    <div class="container bg-white shadow pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div><h3>Flash Sale</h3></div>
            <div><a href="#" id="viewall">View All</a></div>
        </div>
        <hr />
        <div class="arrow_prev2">
            <span><i class="fas fa-angle-left"></i></span>
        </div>
        <div class="arrow_next2">
            <span><i class="fas fa-angle-right"></i></span>
        </div>
        <div class="row d-flex justify-content-center align-items-center post-wrapper2">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--Home Video-->
<section>
    <div class="container bg-white shadow pt-3 pb-3">
        <div class="d-flex justify-content-between">
            <div><h3>Flash Sale</h3></div>
            <div><a href="#" id="viewall">View All</a></div>
        </div>
        <hr />
        <div class="arrow_prev2">
            <span><i class="fas fa-angle-left"></i></span>
        </div>
        <div class="arrow_next2">
            <span><i class="fas fa-angle-right"></i></span>
        </div>
        <div class="row d-flex justify-content-center align-items-center post-wrapper2">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:220px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--Newsletter-->
<section class="text-center">
    <div class="container bg-white shadow p-5">
        <div class="row">
            <div class="col">
                <h2>SignUp For Our Newsletter</h2>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                <form action="#" method="post" class="form-inline justify-content-center">
                    <input type="text" placeholder="Enter Name.." class="form-control m-2 shadow" />
                    <input type="email" placeholder="Enter Email.." class="form-control m-2 shadow" />
                    <input type="submit" class="btn btn-primary m-2 shadow" value="Subscribe" />
                </form>
            </div>
        </div>
    </div>
</section>
<br />