@using OnlineShop.Models;
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Products>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<!--Slide part-->
<section id="showcase" class="bg-dark mt-1">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-img-1 active">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5">
                        <h2 class="display-4">Heading One</h2>
                        <p class="lead">I am a software Developer</p>
                        <a href="#" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-2">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-right">
                        <h2 class="display-4">Heading Two</h2>
                        <p class="lead">I am a software Developer</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-3">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-left">
                        <h2 class="display-4">Heading Three</h2>
                        <p class="lead">I am a software Developer</p>
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>
<br />
<!--Main Part-->
<section>
    <div class="row">
        <div class="col-md-3 container">
            <div class="sidebar">
                <h3 class="cat-heading text-center" style="font-size:x-large"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
                <hr />
                @*<a href="#home">Electronics</a>*@
                <div class="dropdown">
                    <button class="dropbtn">Electronics  <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Laptop</a>
                        <a href="#">Mobile</a>
                        <a href="#">Television</a>
                    </div>
                </div>
                <a href="#news">Home & Living</a>
                <a href="#contact">Books</a>
                <a href="#about">Stationeries</a>
                <a href="#contact">Furniture</a>
                <a href="#contact">Men's Fashion</a>
                <a href="#contact">Women's Fashion</a>
                <a href="#contact">Home Appliances</a>
                <a href="#contact">Health</a>
                <a href="#contact">Beauty</a>
                <a href="#contact">Fitness</a>
                <a href="#contact">Kides & Babies</a>
                <a href="#contact">Others</a>
            </div>
        </div>
        <div class="col-md-9 container">
            <h2 class="text-center text-secondary">On Sale</h2>
            <hr />
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <div class="product-top">
                            <img src="~/@product.Image" style="width:100%;height:200px;" />
                            <div class="overlay-right">
                                <a asp-action="Details" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-secondary pull-right btn-primary" title="View Details">
                                    <i class="fas fa-info-circle" style="font-size:30px;"></i>
                                </a>
                                <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                                <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                                <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star" style="color:orange;"></i>
                            <i class="fa fa-star" style="color:orange;"></i>
                            <i class="fa fa-star" style="color:orange;"></i>
                            <i class="fa fa-star" style="color:orange;"></i>
                            <i class="fa fa-star-half" style="color:orange;"></i>
                            <h3>@product.Name</h3>
                            <h5>@product.Price</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="align-content-center">
                @Html.PagedListPager(Model, c => Href("~/Customer/Home/Index?page=" + c))
            </div>
        </div>
    </div>
</section>
<br />
<!--Home info-->
<section id="background" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center">
                <h3>Discover Your Own Style</h3>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                <a href="#" class="btn btn-success btn-outline-dark">Learn More</a>
            </div>
            <div class="col-md-5 mt-sm-3 mb-sm-3">
                <img src="~/images/fashion07.jpg" alt="Farmer" class="img-fluid rounded" style="width:100%;height:500px;" />
            </div>
        </div>
    </div>
</section>
<br />
<!--Popular Product-->
<section id="background" class="text-light">
    <div class="container">
        <h3 class="text-center">Popular Product</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<section id="background" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-sm-3 mb-sm-3">
                <img src="~/images/fashion09.jpg" alt="Farmer" class="img-fluid rounded" style="width:100%;height:500px;" />
            </div>
            <div class="col-md-7 align-self-center text-right">
                <h3>Discover Your Own Style</h3>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                <a href="#" class="btn btn-secondary btn-outline-dark">Learn More</a>
            </div>
        </div>
    </div>
</section>
<br />
<!--best seller-->
<section id="background" class="text-light">
    <div class="container">
        <h3 class="text-center">Best Seller</h3>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop01.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop02.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop03.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-top">
                    <img src="~/images/laptop04.jpg" style="width:100%;height:200px;" />
                    <div class="overlay-right">
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@Model" class="btn btn-secondary pull-right btn-primary" title="View Details">
                            <i class="fas fa-info-circle" style="font-size:30px;"></i>
                        </a>
                        <button type="button" class="btn btn-secondary" title="Quick Shop"><i class="far fa-eye" style="font-size:30px;"></i></button>
                        <button type="button" class="btn btn-secondary" title="Add to Wishlist"><i class="fas fa-heart" style="font-size:30px;"></i></button>
                        <a asp-action="Cart" asp-controller="Home" type="button" class="btn btn-secondary" title="Add to Cart"><i class="fas fa-cart-plus" style="font-size:30px;"></i></a>
                    </div>
                </div>
                <div class="product-bottom text-center">
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star" style="color:orange;"></i>
                    <i class="fa fa-star-half" style="color:orange;"></i>
                    <h3>Some Text</h3>
                    <h5>$500.00</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--offer-->
<section id="background" class="text-light">
    <div class="container">
        <h3 class="text-center">Our Offer</h3>
        <div class="row" style="width:100%;height:250px;">
            <div class="col-md-6 text-left" style="background-image: url('/images/baby1.jpeg');">
                <h2 class="animated fadeInLeftBig">Some Text</h2>
                <h3>This Good Quality Product</h3>
                <button type="button" class="btn btn-outline-dark btn-success">Learn More</button>
            </div>
            <div class="col-md-6 text-right" style="background-image: url('/images/baby2.jpg');">
                <h2 class="animated fadeInLeftBig">Some Text</h2>
                <h3>This Good Quality Product</h3>
                <button type="button" class="btn btn-outline-dark btn-success">Learn More</button>
            </div>
        </div>
        <div class="row" style="width:100%;height:250px;">
            <div class="col-md-4 text-left" style="background-image: url('/images/baby3.jpg');">
                <h2>Some Text</h2>
                <h3>This Good Quality Product</h3>
                <button type="button" class="btn btn-outline-dark btn-success">Learn More</button>
            </div>
            <div class="col-md-4 text-center" style="background-image: url('/images/baby4.jpg');">
                <h2>Some Text</h2>
                <h3>This Good Quality Product</h3>
                <button type="button" class="btn btn-outline-dark btn-success">Learn More</button>
            </div>
            <div class="col-md-4 text-right" style="background-image: url('/images/baby5.jpg');">
                <h2>Some Text</h2>
                <h3>This Good Quality Product</h3>
                <button type="button" class="btn btn-outline-dark btn-success">Learn More</button>
            </div>
        </div>
    </div>
</section>
<br />
<!--Home Icon-->
<section id="background" class="py-5 text-center text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-cogs" style="font-size:50px;"></i>
                <h2>Turning Gears</h2>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-cloud" style="font-size:50px;"></i>
                <h2>Sending Data</h2>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-cart-plus" style="font-size:50px;"></i>
                <h2>Making Money</h2>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel.</p>
            </div>
        </div>
    </div>
</section>
<br />
<!--Home Video-->
<section id="background" class="py-5 text-center text-light mt-3">
    <div class="dark-overlay">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <a href="https://www.youtube.com/user/mahfuzudvashian"><i class="fab fa-youtube" style="font-size:50px;"></i></a>
                    </div>
                    <h2>Our Videos</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<!--Newsletter-->
<section id="background" class="py-5 bg-dark text-light text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>SignUp For Our Newsletter</h2>
                <p class="lead">Gears are used for transmitting power from one part of a machine to another. In a bicycle, for example, it's gears that take power from the pedals to the back wheel</p>
                <form action="#" method="post" class="form-inline justify-content-center">
                    <input type="text" placeholder="Enter Name.." class="form-control m-2" />
                    <input type="email" placeholder="Enter Email.." class="form-control m-2" />
                    <input type="submit" class="btn btn-primary m-2" value="Subscribe" />
                </form>
            </div>
        </div>
    </div>
</section>
<br />