@using OnlineShop.Models;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container">
    <div class="row">
        <h2 class="text-info text-center">User List</h2>
    </div>
    <hr />
    <form method="post">
        <div class="row">
            <input class="form-control" name="productType" type="text" placeholder="Search by name...." style="width:64%;" />
            <button class="btn btn-success" type="submit" style="width:12%;"><i class="fas fa-search"></i> Search</button>
            <a class="btn btn-dark" asp-action="Index" asp-controller="ProductTypes" style="width:12%;"><i class="fas fa-redo-alt"></i> Reset</a>
            <a class="btn btn-primary" asp-action="Create" asp-controller="User" style="width:12%;"><i class="fas fa-plus"></i> New User</a>
        </div>
    </form>
</div>
<br />
<div>
    <table class="table table-hover table-dark table-sm">
        <thead>
            <tr class="text-success">
                <th scope="col">#</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
                foreach (var item in Model)
                {
                    i++;
                        <tr>
                            <td scope="row">@i</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.UserName</td>
                            @if (item.LockoutEnd > DateTime.Now && item.LockoutEnd != null)
                            {
                                <td class="text-danger">Inactive</td>
                                <td style="width: 200px">
                                    <div class="btn-group">
                                        <a asp-action="Active" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>Active</td>
                                <partial name="_PartialView" model="@item.Id" />
                            }
                        </tr>
                }
            }

        </tbody>
    </table>
</div>



<h1>Index</h1>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != null) {
                alertify.success(save);
            }
        })
    </script>
}
